*{
  margin: 0;
  padding: 0;
}

body{
  background-color:cadetblue;
}
/*
body{
background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
animation: change 10s ease-in-out infinite;
}

@keyframes change{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}
*/

div.background {
 
  border: 2px solid black;
}

div.transbox {
  margin: 50px;
  background-color: #ffffff;
  border: 1px;
  opacity: 0.5;
}

div.transbox p {
  text-align: center;
  font-size: 70px;
  margin: 5%;
  font-weight: bold;
  color: #064635;
}


.text-block {
  position: absolute;
  top: 35%;
  left: 30%;
  background-color: #557C55;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn{
  display :inline-block;
  text-decoration: none;
  background-color: #91C788;
  color: #fff;
  width: 120px;
  height:120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.29);
  border-bottom: solid 3px #52734D;
  transition: 0.45;
  position: absolute;
  font-size: 25px;
  top: 45%;
  

}

.btn1{
  display :inline-block;
  text-decoration: none;
  background-color: #91C788;
  color: #fff;
  width: 120px;
  height:120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.29);
  border-bottom: solid 3px #52734D;
  transition: 0.45;
  position: absolute;
  font-size: 25px;
  top: 45%;
  left: 10%;

}

.btn2{
  display :inline-block;
  text-decoration: none;
  background-color: #91C788;
  color: #fff;
  width: 120px;
  height:120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.29);
  border-bottom: solid 3px #52734D;
  transition: 0.45;
  position: absolute;
  font-size: 25px;
  top: 45%;
  left: 20%;

}

.btn3{
  display :inline-block;
  text-decoration: none;
  background-color: #91C788;
  color: #fff;
  width: 120px;
  height:120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.29);
  border-bottom: solid 3px #52734D;
  transition: 0.45;
  position: absolute;
  font-size: 25px;
  top: 45%;
  left: 30%;

}

.btn4{
  display :inline-block;
  text-decoration: none;
  background-color: #91C788;
  color: #fff;
  width: 120px;
  height:120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.29);
  border-bottom: solid 3px #52734D;
  transition: 0.45;
  position: absolute;
  font-size: 25px;
  top: 45%;
  left: 40%;

}

.btn5{
  display :inline-block;
  text-decoration: none;
  background-color: #91C788;
  color: #fff;
  width: 120px;
  height:120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.29);
  border-bottom: solid 3px #52734D;
  transition: 0.45;
  position: absolute;
  font-size: 25px;
  top: 45%;
  left: 50%;

}

.btn6{
  display :inline-block;
  text-decoration: none;
  background-color: #91C788;
  color: #fff;
  width: 120px;
  height:120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.29);
  border-bottom: solid 3px #52734D;
  transition: 0.45;
  position: absolute;
  font-size: 25px;
  top: 45%;
  left: 60%;

}
.btn7{
  display :inline-block;
  text-decoration: none;
  background-color: #91C788;
  color: #fff;
  width: 120px;
  height:120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.29);
  border-bottom: solid 3px #52734D;
  transition: 0.45;
  position: absolute;
  font-size: 25px;
  top: 45%;
  left: 70%;

}
.btn8{
  display :inline-block;
  text-decoration: none;
  background-color: #91C788;
  color: #fff;
  width: 120px;
  height:120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.29);
  border-bottom: solid 3px #52734D;
  transition: 0.45;
  position: absolute;
  font-size: 25px;
  top: 45%;
  left: 80%;

}
.btn9{
  display :inline-block;
  text-decoration: none;
  background-color: #91C788;
  color: #fff;
  width: 120px;
  height:120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.29);
  border-bottom: solid 3px #52734D;
  transition: 0.45;
  position: absolute;
  font-size: 25px;
  top: 45%;
  left: 90%;

}

.text-block1 {
  position: absolute;
  top: 70%;
  left: 30%;
  background-color: #557C55;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.soilimage{
  position: absolute;
  margin: auto;
  top: 80%;
  left: 30%;

}

.popup .overlay{
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  z-index: 1;
  display: none;
}

.popup .content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  background: #fff;
  width: 450px;
  height: 220px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.popup .close-btn{
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup .active .overlay {
  display: block;
}

.popup .active .content{
  transition: all  300ms ease-in-out;
  transform: translate(-50%,-50%) scale(1);

}
.crops{
  position: absolute;
  top: 150%;
  left: 30%;
  background-color: #557C55;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#container1{
  position: absolute;
  top: 160%;
  height: 350px;
  overflow-y: scroll;
  width: 90%;
  margin: 50px;
  background-color: aquamarine;
  color:black ;
  display: inline-block;
  text-align: center;
}
#crop1{
  float: right;
  top: 140%;
  border: 5px green;
  margin: 15px;
  height: 300px;
  width: 300px;
}

#container2{
  position: absolute;
  top: 220%;
  height: 350px;
  overflow-y: scroll;
  width: 90%;
  margin: 50px;
  background-color: aquamarine;
  color: black;
  display: inline-block;
  text-align: center;
}
#crop2{
  float: left;
  border: 5px green;
  margin: 15px;
  height: 300px;
  width: 300px;
}
#container3{
  position: absolute;
  top: 280%;
  height: 350px;
  overflow-y: scroll;
  width: 90%;
  margin: 50px;
  background-color: aquamarine;
  color: black;
  display: inline-block;
  text-align: center;
}
#crop3{
  float: right;
  border: 5px green;
  margin: 15px;
  height: 300px;
  width: 300px;
}

#container4{
  position: absolute;
  top: 340%;
  height: 350px;
  overflow-y: scroll;
  width: 90%;
  margin: 50px;
  background-color: aquamarine;
  color: black;
  display: inline-block;
  text-align: center;
}
#crop4{
  float: left;
  border: 5px green;
  margin: 15px;
  height: 300px;
  width: 300px;
}

#container5{
  position: absolute;
  top: 400%;
  height: 350px;
  overflow-y: scroll;
  width: 90%;
  margin: 50px;
  background-color: aquamarine;
  color: black;
  display: inline-block;
  text-align: center;
}
#crop5{
  float: right;
  border: 5px green;
  margin: 15px;
  height: 300px;
  width: 300px;
}

#container6{
  position: absolute;
  top: 460%;
  height: 350px;
  overflow-y: scroll;
  width: 90%;
  margin: 50px;
  background-color: aquamarine;
  color: black;
  display: inline-block;
  text-align: center;
}
#crop6{
  float: left;
  border: 5px green;
  margin: 15px;
  height: 300px;
  width: 300px;
}

#container7{
  position: absolute;
  top: 520%;
  height: 350px;
  overflow-y: scroll;
  width: 90%;
  margin: 50px;
  background-color: aquamarine;
  color: black;
  display: inline-block;
  text-align: center;
}
#crop7{
  float: right;
  border: 5px green;
  margin: 15px;
  height: 300px;
  width: 300px;
}

#container8{
  position: absolute;
  top: 580%;
  height: 350px;
  overflow-y: scroll;
  width: 90%;
  margin: 50px;
  background-color: aquamarine;
  color: black;
  display: inline-block;
  text-align: center;
}
#crop8{
  float: left;
  border: 5px green;
  margin: 15px;
  height: 300px;
  width: 300px;
}

#container9{
  position: absolute;
  top: 640%;
  height: 350px;
  overflow-y: scroll;
  width: 90%;
  margin: 50px;
  background-color: aquamarine;
  color: black;
  display: inline-block;
  text-align: center;
}
#crop9{
  float: right;
  border: 5px green;
  margin: 15px;
  height: 300px;
  width: 300px;
}

#container10{
  position: absolute;
  top: 700%;
  height: 350px;
  overflow-y: scroll;
  width: 90%;
  margin: 50px;
  background-color: aquamarine;
  color: black;
  display: inline-block;
  text-align: center;
}
#crop10{
  float: left;
  border: 5px green;
  margin: 15px;
  height: 300px;
  width: 300px;
}
.three{
  font-size:large;
}
